<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>О нас</title>
</head>
<body>
<h1>О нас</h1>
<p>Меня зовут Щанников Денис Анатольевич, 47 лет. Я концертный форепианный техник, ну или по-простому настройщик
    пианино и роялей.
    Обслуживаю два концертных зала в консерватории Екатеринбурга, классы вокальной, народной,
    духовых и ударных инструментов, камерного ансамбля и концертмейтерского класса, теоретичекой, дирижерской и
    композиторской кафедр.
    Так же обслуживаю концертные площадки Президентского центра Бориса Ельцина и резиденцию губернатора Свердловской области.
    Имею большой опыт обслуживания всевозможных фестивалей и конкурсов, а так же международных конкурсов пианистов.
    Обслуживал концерты Мишеля Леграна, Валерия Шкарупы, Полины Осетинской, Валентины Лисицы, Алексея Гориболя,
    Леонида Десятникова. Также обслуживаю концерты лауреатов международного конкурса пианистов имени Веры
    Лотар-Шевченко, "Русские сезоны" и "Дельфийские игры". Имею опыт работы с концертными роялями Steinway&Sons,
    C.Bechschtein, Yamaha, Bluthner и Petrof. В профессии с 1997 года. Программированием увлёкся благодаря младшему
    брату, он айосер в Kolesa Group Казахстан.</p>
</body>
</html>